.box1{
  background-color: rgba(88,0,0,.7);
}
.box1a{
  background-color: rgba(88,0,88,.7);
}
.box1a img{
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
}
.box2{
  background-color: rgba(0,88,0,.7);
}
.box3{
  background-color: rgba(88,88,0,.7);
}
.box4{
  background-color: rgba(0,0,88,.7);
}
.email, .tel, .local{
  color: white
}

a{
  color: #00ff00;
}
a:hover{
  color: #0087ff;
}

h1, h2, h3{
  color: #eee;
}
